@use "../abstracts/variables" as variables;
.account-list {
    & > li {
        background: #fff;
        border: 1px solid variables.$color-gray200;
        border-radius: 4px;
        margin-bottom: .4rem;
        a {
            width: 100%;
            padding: 0.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            img {
                width: 1.4rem;
            }
            &.on img {
                transform: rotate(180deg);
            }
        }
    }

    //dep2
    ul {
        background: #fff;
        padding: 1rem;
        border-top: 1px solid variables.$color-gray200;
        li {
            margin-bottom: 0.3rem;
            text-align: left;
            font-size: 0.8rem;
            &.comment {
                margin-bottom: 0.6rem;
            }
            &:last-child {
                margin-bottom: 0;
            }
            a {
                border: 1px solid variables.$color-gray200;
                border-radius: 4px;
                padding: 0.5rem;

                justify-content: space-between;
                img {
                    width: 1.1rem;
                }
                input {
                    display: none;
                }
            }
        }
    }
}
