@use "../abstracts/mixin" as mixin;

.slider-wrap {
	///width: 100%;
	.slider-item {
		overflow: hidden;
		padding: 0 1rem;
	}
	&.nav {
		.slider-item {
			opacity: 0.5;
			position: relative;
			padding: 0;
			img {
				position: absolute;
				@include mixin.centerXY;
				margin: 0 0.5rem;
			}
		}
		.slick-center {
			opacity: 1;
		}
	}
}

//slider nav
.slick-wrap {
	position: relative;

	.slick-prev,
	.slick-next {
		position: absolute;
		@include mixin.centerY;
		display: block;
		width: 20px;
		height: 20px;
		background: gray;
		left: 0;
	}
}
