@use "../abstracts/variables" as variables;
@use "../abstracts/mixin" as mixin;

.calendar {
	margin: 2rem auto;
	th,
	td {
		font-weight: 400;
		width: 2.5rem;
		height: 2.5rem;
		&.sun {
			color: variables.$color-red;
		}
		&.sat {
			color: variables.$color-blue;
		}
		&.active {
			position: relative;
			color: #fff;
			z-index: 0;
			&:after {
				@include mixin.afterIcon;
				width: 100%;
				height: 100%;
				background: variables.$color-primary;
				z-index: -1;
				top: 0;
				left: 0;
				border-radius: 50%;
			}
		}
	}
}
.time-wrap {
	display: flex;
	gap: 30px;
	justify-content: center;
<<<<<<< HEAD
	
=======

>>>>>>> d584a9cc131c5bac5d8dbab932e7cb016c7715e3
	& > div {
		position: relative;
		//width: 2.5rem;
		&:after {
			@include mixin.afterIcon;
			content: ":";
			color: variables.$color-gray600;
			bottom: 0.2rem;
			right: -1.06rem;
		}
		&:last-child::after {
			display: none;
		}
	}
	.title {
		font-size: 0.5rem;
		letter-spacing: 1px;
		color: variables.$color-gray500;
	}
	.count-num {
		font-size: 1.2rem;
	}
}
.root_daum_roughmap.map {
	width: 100%;
	margin-bottom: 20px;
	.cont {
		display: none;
	}
}
.location-list {
	text-align: left;
	.title {
		font-weight: 600;
		margin-bottom: 0.5rem;
	}

	.dot-list {
		$listType: (
			1: #a05eb5,
			2: #0068b7,
			3: #53b332,
			4: #e60012,
			5: #33cc99,
			6: #3d5bab,
		);
		@each $type, $color in $listType {
			.type-#{$type} {
				&:after {
					background: $color;
				}
			}
		}
		ul {
			margin-top: 4px;
			li {
				padding-left: 0.8rem;
				position: relative;
				&:after {
					content: "-";
					position: absolute;
					@include mixin.centerY;
					left: 0;
				}
			}
		}
	}
}
<<<<<<< HEAD
=======

.mark {
	position: relative;
	&::before {
		display: block;
		position: absolute;
		left: -0.8rem;
		bottom: 2px;
		content: "故";
		font-size: 0.7rem;
		color: variables.$color-gray600;
		font-family: serif;
		line-height: normal;
	}
}
>>>>>>> d584a9cc131c5bac5d8dbab932e7cb016c7715e3
