@use "../abstracts/mixin" as mixin;
.main-wrap {
	position: relative;
	img {
		width: 100%;
	}
	.main-title {
		position: absolute;
		bottom: 6.5rem;
		@include mixin.centerX;
		width: 100%;
	}
	.date {
<<<<<<< HEAD
		font-size: 0.8rem;
		display: flex;
        flex-direction: column;
=======
		display: flex;
		flex-direction: column;
>>>>>>> d584a9cc131c5bac5d8dbab932e7cb016c7715e3
		justify-content: center;
		position: absolute;
		bottom: 2.5rem;
		color: #fff;
		gap: 0.3rem;
		@include mixin.centerX;
	}
}
