@use "../abstracts/mixin" as mixin;
.main-wrap {
	position: relative;
	img {
		width: 100%;
	}
	.main-title {
		position: absolute;
		bottom: 6.5rem;
		@include mixin.centerX;
		width: 100%;
	}
	.date {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		bottom: 2.5rem;
		color: #fff;
		gap: 0.3rem;
		@include mixin.centerX;
	}
}
