@use "../abstracts/variables" as variables;
@use "../abstracts/mixin" as mixin;
.modal-map-wrap {
	width: 90%;
	margin: auto;
	color: #333;
	position: relative;
	a {
		display: block;
		img {
			width: 100%;
		}
	}
}
.bg-modal {
	background: variables.$color-modal-7;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	.slider-wrap {
		width: 90%;
		.slider-item {
			padding: 0;
		}
	}
}
.tel-modal-wrap {
	position: fixed;
	@include mixin.centerXY;
	background: #fff;
	width: 80%;
	z-index: 101;
	padding-top: 8px;
	.btn-close {
		@include mixin.closeBtn(20px, variables.$color-gray900);
		right: 4px;
		top: 4px;
		font-size: 0;
		text-indent: -9999px;
	}
}

.tel-list {
	display: flex;
	align-items: center;
	justify-content: center;
	li {
		position: relative;

		&:after {
			@include mixin.afterIcon;
			@include mixin.centerY;
			right: 0;
			width: 1px;
			height: 20%;
			background: variables.$color-gray300;
		}
		&:last-child:after {
			display: none;
		}
	}
}
.tel-title {
	background: variables.$color-gray200;
	font-size: 0.8rem;
	padding: 0.8rem;
}
.tel-sub-title {
	font-size: 0.8rem;
	margin-bottom: 20px;
	background: variables.$color-blue-bg;
	display: inline-block;
	padding: 4px 10px;
	border-radius: 15px;
	&.w {
		background: variables.$color-red-bg;
	}
}
