@use "../abstracts/variables" as variables;
@use "../abstracts/mixin" as mixin;
.btn-center {
	display: flex;
	gap: 4px;
	align-items: center;
	justify-content: center;
}
.btn {
	background: #fff;
	border: none;
	padding: 0.5rem;
	border-radius: 0.5rem;
	min-width: 6rem;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	font-size: 1rem;
	img {
		width: 1rem;
	}
}

.dot-list > li {
	margin-bottom: 0.5rem;
	padding-left: 1rem;
	position: relative;
	&:after {
		@include mixin.afterIcon;
		top: 0.4rem;
		left: 0;
		width: 0.5rem;
		height: 0.5rem;
		border-radius: 50%;
		background: variables.$color-gray400;
	}
}
.hidden {
	display: none !important;
}
.btn-map{
	img{
		width: 80%;
	}
	&.tmap img{
		&:first-child{
			width: 20%;

		}
		&:last-child{
			width: 50%;

		}
	}
}

.btn-small {
	width: 2.5rem;
	height: 2.5rem;
	display: block;
	font-size: 0;
	text-indent: -9999px;
	overflow: hidden;
}
.btn-tel {
	@extend .btn-small;
	background: url("../../../asset/images/svg/phone-solid-full.svg") no-repeat center;
	background-size: 1.1rem;
}
.btn-sms {
	@extend .btn-small;
	background: url("../../../asset/images/svg/message-solid-full.svg") no-repeat center;
	background-size: 1.1rem;
}
.btn-kakao {
	@extend .btn-small;
	background: url("../../../asset/images/svg/kakao-talk-brands-solid-full.svg") no-repeat center;
	background-size: 1.1rem;
}

.btn-audio-control-play{
	display: none;
	position: fixed;
	top: 1rem;
	right: 1.5rem;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 0;
	z-index: 101;
	transition: .2s;
	background: url("../../../asset/images/svg/volume-xmark-solid-full.svg") rgba(#fff, .8) no-repeat center center/24px;
	&:hover{
		background-color: #fff;
	}
}

.btn-audio-control-pause{
	display: block;
	@extend .btn-audio-control-play;
	background: url("../../../asset/images/svg/volume-high-solid-full.svg") rgba(#fff, .8) no-repeat center center/23px;
}

