@use "../abstracts/variables" as variables;
@use "../abstracts/mixin" as mixin;
.btn-center {
	display: flex;
	gap: 4px;
	align-items: center;
	justify-content: center;
}
.btn {
	background: #fff;
	border: none;
	padding: 0.5rem;
	border-radius: 0.5rem;
	min-width: 6rem;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
<<<<<<< HEAD
=======
	font-size: 1rem;
>>>>>>> d584a9cc131c5bac5d8dbab932e7cb016c7715e3
	img {
		width: 1rem;
	}
}

.dot-list > li {
	margin-bottom: 0.5rem;
	padding-left: 1rem;
	position: relative;
	&:after {
		@include mixin.afterIcon;
		top: 0.4rem;
		left: 0;
		width: 0.5rem;
		height: 0.5rem;
		border-radius: 50%;
		background: variables.$color-gray400;
	}
}
<<<<<<< HEAD
.hidden{
	display: none !important;
}
.btn-small{
	width: 24px;
	height: 24px;
=======
.hidden {
	display: none !important;
}
.btn-small {
	width: 40px;
	height: 40px;
>>>>>>> d584a9cc131c5bac5d8dbab932e7cb016c7715e3
	display: block;
	font-size: 0;
	text-indent: -9999px;
	overflow: hidden;
}
<<<<<<< HEAD
.btn-tel{
	@extend .btn-small;
	background: url("../../../asset/images/svg/phone-solid-full.svg") no-repeat center;
	background-size: 14px;
}
.btn-sms{
	@extend .btn-small;
	background: url("../../../asset/images/svg/message-solid-full.svg") no-repeat center;
	background-size: 14px;
}
.btn-kakao{
	@extend .btn-small;
	background: url("../../../asset/images/svg/free-icon-kakao-talk-3669973.png") no-repeat center;
	background-size: 14px;
}
=======
.btn-tel {
	@extend .btn-small;
	background: url("../../../asset/images/svg/phone-solid-full.svg") no-repeat center;
	background-size: 20px;
}
.btn-sms {
	@extend .btn-small;
	background: url("../../../asset/images/svg/message-solid-full.svg") no-repeat center;
	background-size: 20px;
}
.btn-kakao {
	@extend .btn-small;
	background: url("../../../asset/images/svg/free-icon-kakao-talk-3669973.png") no-repeat center;
	background-size: 20px;
}
>>>>>>> d584a9cc131c5bac5d8dbab932e7cb016c7715e3
