@use "../abstracts/variables" as variables;

//리셋
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.scroll-none {
	overflow: hidden;
}
body {
	width: 100%;
	color: variables.$font-color-static;
	font-family: "GowunBatang";
	font-weight: 400;
	text-align: center;
	font-size: 15px;
	//background: rgb(255, 253, 232);
	background: variables.$color-main-bg;
}

img {
	border: 0;
	width: 100%;
}

a {
	text-decoration: none;
	color: variables.$font-color-static;
	&:link,
	&:active {
		color: variables.$font-color-static;
	}
}

i {
	font-style: normal;
}
ul,
li,
ol {
	list-style: none;
}

address {
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1rem;
	font-weight: 400;
}

button {
	font-family: "GowunBatang";
	color: variables.$font-color-static;
}
