@use "../abstracts/variables" as variables;

//리셋
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	color: variables.$color-gray950;
	font-family: "GowunBatang";
	font-weight: 400;
	text-align: center;
	font-size: 14px;
	background: rgb(255, 253, 232);
}

img {
	border: 0;
	width: 100%;
}

a {
	text-decoration: none;
	color: #333;
}

ul,
li,
ol {
	list-style: none;
}

address {
	font-style: normal;
}

p {
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1rem;
	font-weight: 400;
}

button {
	font-family: "GowunBatang";
}
